*{
    margin: 0;
    padding: 0;
}
.layout{
    background-color: #FCFAFA;
    /* max-width: 100%; */
    height: 100vh;
    max-width: 1440px;
    position: relative;
    overflow-x: hidden;
}
.navbar{
    /* width: 1440px; */
height: 84px;
padding: 22px 142.5px 22px 140px;
background-color: #F5F7FA;
}
.logo{
    width: 121.72px;
height:31px;
display: flex;
align-items: center;
}
.logo-img{
    width: 30.51px;
height: 18.31px;
border: 1.2px;
}
.logo-name{
    font-family: DM Sans;
font-size: 24px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0em;
text-align: left;
color: #009C95;
}
.nav{
    position: absolute;
    width: 817px;
height: 31px;
top: 26px;
left: 140px;
display: flex;
justify-content: space-between;
}
.nav-name{
    width: 494px;
height: 27px;
display: flex;
justify-content: space-between;
font-family: Merriweather;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}
.navs{
    color:#1C2424;
text-decoration: none;
}
.navs.active{
    color: #009C95;
font-weight: 700;
}
.login{
    position: absolute;
    display: flex;
    width: 269px;
height: 40px;
top: 22px;
left: 1028.5px;
gap: 14px;
}
.demo-button{
    width: 168px;
height: 40px;
padding: 10px 20px 10px 20px;
border-radius: 8px;
gap: 8px;
font-family: Merriweather;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
background: #009C95;
border: none;
}
.login-button{
    width: 87px;
height: 40px;
padding: 10px 20px 10px 20px;
border-radius: 8px;
border: 1px;
gap: 8px;
color: #009C95;
background: #FFFFFF;
border: 1px solid #009C95;
font-family: Merriweather;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}
.heroSection{
    /* background-color: red; */
    position: absolute;
    /* width: 1163px; */
    height: 394px;
    top: 163px;
    left: 144px;
    display: flex;
    justify-content: flex-start;
    gap: 74px;
}
.heromsg{
    display: flex;
    flex-direction: column;
    width: 611px;
    height: 274px;
    /* justify-content: space-between; */
}
.herotext{
    height: 152px;
    color: #1C2424;
}
.herotext1{
    font-family: Merriweather;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;
    width: 607px;
    height: 108px;
}
.herotext2{
    /* //styleName: Body-Regular/16; */
font-family: Merriweather;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}
.mainbutton{
    width: 270px;
height: 60px;
padding: 10px 80px 10px 80px;
border-radius: 8px;
gap: 8px;
background: #009C95;
font-family: Merriweather;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
border: none;
}
.heroframe{
    width: 478px;
padding: 26px 29px 27px 28px;
border: 2px 0px 2px 0px;
border-width: 2px 0px 2px 0px;
border-style: solid;
border-color: #009C9599;
border-radius: 0px 215px 0px 138px;
background: linear-gradient(0deg, rgba(246, 243, 166, 0.2), rgba(246, 243, 166, 0.2));
}
.heroimage{
    width: 421px;
    height: 329px;
    top: 26px;
    left: 28px;
    padding: 0px;
    border-radius: 0px 190px 0px 120px;
    border: 1px solid #009C95;
    background: linear-gradient(0deg, rgba(0, 156, 149, 0.4), rgba(0, 156, 149, 0.4));
}
.aboutsection{
    position: absolute;
    height: 305px;
top: 608px;
padding: 51px 216px 51px 216px;
gap: 15px;
background: #F6F3A633;
display: flex;
flex-direction: column;
align-items: center;
}
/* .about{
    background-color: red;
    position: absolute;
gap: 25px;
text-align: center;

} */
h1{
/* //styleName: Header/Bold-20; */
font-family: Merriweather;
font-size: 20px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0em;
text-align: center;
color:#1C2424;
}
.about-content{
    /* background-color: brown; */
font-family: Merriweather;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
color: #1C2424;
}
.features{
    position: absolute;
height: 550px;
top: 920px;
left: 0;
right: 0;
padding: 90px 185px 90px 185px;
gap: 44px;
display: flex;
flex-direction: column;
align-items: center;
}
/* .features-title{
font-family: Merriweather;
font-size: 20px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0em;
text-align: center;
color:#1C2424;
} */
.features-frame{
    width: 984.28px;
height: 328px;
gap: 46px;
display: flex;
}
.features-frame1, .features-frame3{
    width: 265px;
height: 328px;
gap: 68px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}
.features-frame1a, .features-frame3a{
    width: 213px;
height: 130px;
gap: 4px;
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
align-items: center;
}
.ellipse{
    width: 86.47px;
height: 86px;
transition: all 0.5s ease;
/* background: #009C9566;
border: 0.47px solid #009C9566; */
}
.ellipse:hover{
    width: 100px;
    background: #009C9566;
border: 0.47px solid #009C9566;
}
.ellipse-content{
    font-family: Merriweather;
font-size: 12px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
color: #1C2424;
}
.product{
    position: absolute;
    width: 752px;
height: 493.57px;
top: 1564px;
left: 365px;
gap: 20px;
display: flex;
flex-direction: column;
}
.productsection{
gap: 20px;
display: flex;
}
.productimage{
    width: 269px;
height: 445.57px;
box-shadow: 0px 4px 30px 0px #00000040;
}
.productmessage{
    width: 471px;
height: 273px;
gap: 34px;
display: flex;
flex-direction: column;
justify-content: center;
}
.product-content{
    font-family: Merriweather;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
}
.action{
    display: flex;
    width: 439px;
height: 60px;
gap: 34px;
}
.demobutton{
    width: 208px;
height: 60px;
padding: 10px 30px 10px 30px;
border-radius: 8px;
background: #009C95;
font-family: Merriweather;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
color: #FFFFFF;
border: none;
}
.downloadbutton{
    width: 197px;
height: 60px;
padding: 10px 30px 10px 30px;
border-radius: 8px;
gap: 8px;
background: #1C24240D;
font-family: Merriweather;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
border: none;
}
.testimonials{
    position: absolute;
    width: 1439px;
height: 603px;
top: 2126px;
background: #009C950D;
display: flex;
flex-direction: column;
}
.main{
    position: absolute;
    width: 957px;
height: 372px;
top: 131px;
left: 242px;
gap: 37px;
display: flex;
}
.circle-left{
    position: relative;
    width: 74px;
height: 74px;
top: 150px;
}
.circle{
    position: absolute;
    width: 61.25px;
height: 61.25px;
top: 6.37px;
left: 6.37px;
background: #1C24241A;
border-radius: 50%;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    width: 12.3px;
height: 21.53px;
top: 21px;
left: 22px;
color: #1C242466;
}
.circle:hover{
    background-color: #000;
    opacity: 0.8;
}
.prev:hover, .next:hover {
    background-color: #717171;
    opacity: 0.8;
}
.testimonials-card{
    width: 735px;
height: 372px;
border-radius: 10px;
background: #FFFFFF;
box-shadow: 0px 2px 16px 4px #0000001A;
}
.circle-right{
    position: relative;
    width: 74px;
height: 74px;
top: 150px;
}
.quote1{
    position: relative;
    width: 58px;
height: 58px;
top: 22px;
left: 22px;
padding: 12.08px 8.9px 12.08px 8.9px;

}
.leftquote{
    width: 40.19px;
height: 33.83px;
top: 12.08px;
left: 8.9px;
color: #F6F3A6;

}
.quote2{
    position: relative;
    width: 58px;
    height: 58px;
    top: -60px;
    left: 640px;
    padding: 12.08px 8.9px 12.08px 8.9px;
}
.rightquote{
    width: 40.19px;
    height: 33.83px;
    top: 45.92px;
    left: 49.1px;
    rotate:x -180deg;    
    color: #F6F3A6;
}
.testimonials-content{
    position: relative;
    font-family: Merriweather;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
color: #1C2424;
width: 609px;
height: 120px;
top: -80px;
left: 51px;
}
.divider{
    position: absolute;
    width: 154px;
height: 3px;
top: 249px;
left: 40%;
background: #F6F3A6;
text-align: center;
}
.testimonal-avatar{
    position: absolute;
    width: 175.67px;
height: 60.34px;
top: 276.17px;
left: 40%;
gap: 8px;
display: flex;
}
.avatar{
    width: 60.67px;
height: 60.34px;
border: 0.33px;
}
.avatar-details{
    width: 107px;
height: 40px;
gap: 2px;
display: flex;
flex-direction: column;
}
.avatar-title{
    font-family: Merriweather;
font-size: 14px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
color: #1C242499;
}
.avatar-role{
    font-family: Merriweather;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    color: #1C242499;
}
.dotIndicator {
    position: absolute;
    width: 80px;
height: 16px;
top: 550px;
left: 680px;
display: flex;
justify-content: space-between;
}
.dot{
    cursor: pointer;
    width: 16px;
height: 16px;
rotate: -180deg;
    background-color: #009C95;
    border-radius: 50%;
    transition: background-color 0.6s ease;
}
.dot:hover {
    background-color: #717171;
}
.faqsection{
    position: absolute;
    width: 100%;
height: 696.54px;
top: 2729px;
padding: 71px 216px 97px 216px;
gap: 30px;
background: #F6F3A633;
display: flex;
flex-direction: column;
}
.faq-container{
    width: 953.43px;
height: 528.54px;
gap: 30px;
display: flex;
flex-direction: column;
}
.faq{
    width: 953.39px;
height: 69.51px;
padding: 22.98px 27.38px 22.41px 26.98px;
border-radius: 8px;
/* rotation: -0.04deg */
border: 1px solid #009C9566;
background: transparent;
position: relative;
/* overflow: hidden; */
transition: 0.3s ease;
}
.faq.active{
    background-color: #fff;
    box-shadow: 0px 2px 16px 4px #0000001A;
}
.faq-title{
font-family: Merriweather;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
/* text-align: center; */
color: #1C2424;

}
.faq-text {
    display: none;
    font-family: Merriweather;
font-size: 16px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
color: #1C2424;
margin: 20px 0 0;
}
.faq.active .faq-text{
    display: block;
}
.faq-toggle{
    background-color: transparent;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
height: 24px;
padding: 10px 5px 7px 5px;
color: #1C2424;
position: absolute;
top: 17px;
right: 19px;
font-size: 16px;
/* border: 2px solid #1C2424; */
/* angle: 0 deg */
/* width: 7px
height: 14px
top: 17px
left: 19px
border: 2px
angle: 90 deg */
}
.faq-toggle .faq-times{
    display: none;
}
.faq.active .faq-toggle .faq-times{
    display: block;
    color: #fff;    
}
.faq.active .faq-toggle .faq-down{
    display: none;
}
.faq.active .faq-toggle{
    background-color: #9fa4a8;
}
/* .faq-toggle:focus{
    outline: 0;
} */

